USE [master]
GO
/****** Object:  Database [EAGetMailDB]    Script Date: 21/07/2021 07:46:03 م ******/
CREATE DATABASE [EAGetMailDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EAGetMailDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\EAGetMailDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EAGetMailDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\EAGetMailDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EAGetMailDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EAGetMailDB]
GO
USE [EAGetMailDB]
GO
/****** Object:  Table [dbo].[WebMailAttachments]    Script Date: 21/07/2021 07:46:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebMailAttachments](
	[AttachmentsID] [bigint] IDENTITY(1,1) NOT NULL,
	[Attachments_Data] [varbinary](max) NOT NULL,
	[Attachments_MIME] [nvarchar](max) NOT NULL,
	[Attachments_Extension] [nvarchar](500) NOT NULL,
	[Attachments_FileName] [nvarchar](max) NOT NULL,
	[WebMailInfoMessageID] [bigint] NOT NULL,
 CONSTRAINT [PK_WebMailAttachments] PRIMARY KEY CLUSTERED 
(
	[AttachmentsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebmailMessages]    Script Date: 21/07/2021 07:46:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebmailMessages](
	[WebmailMessagesID] [bigint] IDENTITY(1,1) NOT NULL,
	[FromEmail] [nvarchar](500) NULL,
	[Subject] [nvarchar](500) NULL,
	[Body] [nvarchar](max) NULL,
	[FromName] [nvarchar](500) NULL,
	[ToEmail] [nvarchar](200) NOT NULL,
	[ReceviedDate] [datetime] NOT NULL,
	[UIDS] [nvarchar](200) NULL,
 CONSTRAINT [PK_WebmailMessages] PRIMARY KEY CLUSTERED 
(
	[WebmailMessagesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebMailSettings]    Script Date: 21/07/2021 07:46:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebMailSettings](
	[WebMailSettingsID] [bigint] IDENTITY(1,1) NOT NULL,
	[KeyCode] [nvarchar](200) NOT NULL,
	[KeyValue] [nvarchar](200) NOT NULL,
	[KeyID] [bigint] NOT NULL,
 CONSTRAINT [PK_WebMailSettings] PRIMARY KEY CLUSTERED 
(
	[WebMailSettingsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WebMailAttachments]  WITH CHECK ADD  CONSTRAINT [FK_WebMailAttachments_WebmailMessages] FOREIGN KEY([WebMailInfoMessageID])
REFERENCES [dbo].[WebmailMessages] ([WebmailMessagesID])
GO
ALTER TABLE [dbo].[WebMailAttachments] CHECK CONSTRAINT [FK_WebMailAttachments_WebmailMessages]
GO
USE [master]
GO
